body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('https://github.com/AaadityaG/Articles-Hub/blob/main/src/public/back.png') no-repeat center center fixed;
    background-size: cover;
  }


  
main {
    flex-grow: 1;
    overflow-y: auto; /* Add this to enable vertical scrolling for content inside main */
}